@import "../../styles/reset_lex.css";


#index {
    display: flex;
    flex-direction: column;
}

dd,
li {
    color: #f1f1f1;
    border-left: solid 1px #FFA07A;
    padding: 0.5rem;
    margin: 1rem;
    font-style: italic;
}

dt {
    color: #FFA07A;
    font-weight: bold;
}

dl {
    border-top: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    padding: 1rem;
}

p a,
sup a {
    color: #f1f1f1;
    display: inline;
    padding: 0;
}

details {
    margin: 1rem 2rem;
  
    cursor: pointer;
    border: solid 1px #FFA07A;
    border-radius: 1rem 0 0  1rem;
    padding-top: 0;
}

summary {
    list-style-type: none;
    font-weight: bold;
    padding: 1rem;
    color: #f3f5fc;
    border: solid 1px;
    border-radius: 1rem 0 0  1rem;
}

summary:hover {
    color: #61AFEF;
}

summary::before {
    content: url(../icons/search\ copy.svg);
    margin: 0.5rem;
}

details div:first-of-type {
    overflow: auto;
    max-height: 50dvh;
    padding: 1rem;
}

details[open] summary {
    color: #FFA07A;
}

main {
    margin: auto;    
}

dd li {
    border: none;
    margin: 0;
}

i{
    font-weight: bold;
    color: #FFA07A;
}