* {
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    scroll-margin-top: 5rem;
}

body {
    margin: 0;
    color: #f3f5fc;
    background-color: #282C34
}

header {
    color: #FFA07A;
    padding: 2rem;
    text-align: center;
}


a {
    text-decoration: none;
    padding: 1rem;
    text-wrap: balance;
    display: inline-block;
    border-bottom: solid 1px;
    color: inherit;
}

a:hover {
    font-weight: bold;
    border-bottom: solid 2px;
    color: #61AFEF;
}


a::after {
    content: url(../sources/icons/box-arrow-up-right.svg);
    margin: 0.5rem;
    
}


nav {
    background-color: #2F3439;
    padding: 1rem 2rem;
    border: solid 2px #FFA07A;
    border-radius: 0 1rem;
    margin: 1rem;
}

nav h3 {
    margin: 0;
    padding: 1rem;
    color: #FFA07A;
    text-align: center;
}

nav a {
    margin: 0.5rem;
    display: block;
}

#home {
    position: sticky;
    top: 0;
    background-color: #2F3439;
    text-align: center;
}

#home a {
    display: block;
    text-align: center;
    color: #FFA07A;
}


main {
    margin-bottom: 10rem;
}

main p,
main span {
    text-indent: 1.5rem;
    line-height: 1.8rem;
    padding: 1rem 2rem;
}

main h3 {
    color: #FFA07A;
    text-align: center;
    background-color: #2F3439;
    padding: 1rem;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #2F3439;
    width: 100%;
    overflow-x: auto;
   

}

footer div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

footer p {
    text-wrap: nowrap;
}

footer a {
    text-wrap: nowrap;
    margin: 1rem;
}

#buscador {
    flex-direction: column;
    padding: 0;
    margin: 0 1rem
}

input {
    padding: 0.3rem 1rem;
    background-color: inherit;
    border: none;
    border-bottom: solid 2px #61AFEF;
    text-align: center;
    color: #f3f5fc;
}
input::placeholder{
    color: #f3f5fc;    
}

#spn {
    color: #FFA07A;
    padding: 0 1rem;
    margin: 0;
    margin-top: 0.5rem;
    cursor: pointer;
}



#container {
    border-left: solid 1px #FFA07A;
    padding: 0 1rem;
}

#container button {
    background-color: inherit;
    color: #FFA07A;
    border: none;
    padding: 1rem;
    margin: 0 1rem;
}

#container button:hover {
    cursor: pointer;
    font-weight: bold;
    color: #61AFEF;
}

p:target::before,
h3:target::before,
.found::before {
    content: "# ";
    font-weight: 900;
    font-size: x-large;
    color: #FFA07A;
}

.found {
    border-top: dotted 2px #61AFEF;
    padding-top: 1.5rem;
}

span {
    color: #FFA07A;
    font-weight: bold;
    display: block;
    font-style: italic;
}

span::before {
    content: "!!! - ";
    font-size: larger;

}

p::selection,
span::selection,
b::selection {
    color: #FFA07A;
    background-color: #2F3439;
}



.top {
    background-color: #282C34;
    color: #FFA07A;
}

.top::after, #spn::after, #home a::after{
    content: none;
}